*{
    margin: 0;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
th{
    border: 1px solid black;
    border-collapse: collapse;
    height: 100vh;
}
@media(max-width:1400px){
    th{
        height: 100vh;
    }
}
